*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
/.kotlin
.externalNativeBuild
.cxx
local.properties
core/src/main/kotlin/com/joshgm3z/triplerocktv/core/repository/retrofit/Secrets.kt
leanback-app/google-services.json
security/default_keystore
